body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
.box{
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center; /* horizontal */
    height: 50%;
    width: 40%;
    gap: 20px;
}
.bloco{
    display: flex;
    gap: 10px;
    width: 90%;
}
.legenda{
    font-weight: 600;
    width: 30%;
    text-align: right;
}
.valor{
    width: 70%;
}